// Mixins in here

.default-button(@font-color, @background-color){
    color: @font-color;
    background: @background-color;
    text-align: center;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.6rem;
    text-decoration: none;
    display: inline-block;

    &:hover {
        cursor: pointer;
        background: pink;
    }
}

.animations-mixin(@speed, @delay) {
    animation: myfirst @speed ease-in @delay 1 alternate;
    animation-fill-mode: both;
    position: relative;
    @keyframes myfirst {
        0% {opacity: 0%;}
        100% {opacity: 100px;}
    }
}